/* 
    Document   : style.css
    Created on : 11.May.2012, 20:04:27
    Author     : rasitdemirel
*/

html,body{
    text-align: center;
     /*background:url("../image/alsat.png");*/
    
}


#genel{
    width: 1024px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
     
}
#header{
    width: 1024px;
    height: 90px;
    background-color: #990000;
    

}
#sol{
    width: 500px;
    float: left;
    min-height: 450px;
    
    
    font-family: Arial,Helvetica,sans-serif;
}
#orta{
    width: 500px;
    margin-left: auto;
    min-height: 450px;
    
    
}
#ayaklik{
    min-height: 25px;
    width: 1024px;
    margin-bottom: 0px;
    border: blue;
    border-style: dashed;
}
#giris{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 30px;
    
    border-style: dashed;
}
.baslik{
    

    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin-top: 100px;
}
#dukkan{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#arabul{
    width: 622px;
    margin-left: auto;
    height: 90px;
    float: left;
    
    
    
}
#logo{
    width: 200px;
    float: left;
    
    padding-top: 5px;
    
    
}
#profcubuk{
  width: 200px;
  margin-left: auto;
  height: 90px;
}
#profilcik{
    width: 110px;
    height: 70px;
    background-color: aqua;
    margin-left: auto;
    text-align: left;
    padding: 10px 10px 10px 0px ;
    font-family: Helvetica;
    font-size: 12px;
    
}
#profilresim{
    width: 55px;
    float: left;
    height: 70px;
    margin: 10px 0px 10px 10px;
    background-color: gray;
    
}
#solic{
    width: 200px;
    float: left;
    min-height: 450px;
    border-width: 1px;
    border-right-color: #666666;
    border-top:#fff;
    border-left: #fff;
    border-bottom: #fff;
    border-style: solid;
    font-family: Arial,Helvetica,sans-serif;
}
#ortacik{
    width: 624px;
    float: left;
    min-height: 450px;
    border-width: 1px;
    
    border-left: #fff;
    border-bottom: #fff;
    border-right: #fff;
    border-top: #fff;
    border-style: solid;
}
#sagcik{
    width: 200px;
    margin-left: auto;
    min-height: 450px;
    border-width: 1px;
    border-left-color: #666666;
    border-bottom: #fff;
    border-right: #fff;
    border-top: #fff;
    border-style: solid;
}
.yanmenu{
    width: 180px;
    margin-left:10px;
    padding-bottom: 10px;
    text-align: left;
    min-height:150px; 
    font-family: Arial,Helvetica,sans-serif;
    background-image: url(../image/yancizgi.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    font-size: 12px;
    margin-top: 10px;
    
}
.yanmenuicerik{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
}
#duyurherkese{
    width: 624px;
    text-align: left;
    padding: 10px;
    font-family: Arial,Helvetica,sans-serif;
}
.yaziozet{
    width: 600px;
    padding: 10px;
    background-image: url(../image/yazialti.png);
    background-repeat: no-repeat;
    background-position: bottom center;
   
}
#yaziresim{
    width: 77px;
    height: 92px;
    background-color: yellow;
    margin-left: 10px;
    float: left;
}
#yazibaslik{
    width: 400px;
    height: auto;
    float: left;
    background-color: wheat;
    
}
#yazitarih{
    width: 120px;
    margin-left: auto;
    background: violet;
}
#icerikozet{
    width: 520px;
    min-height: 50px;
    background-color: tomato;
    margin-left: auto;
}
#yazibilgi{
    width: 520px;
    height: 20px;
    background-color: slateblue;
    margin-left: auto;
}
.bilgidetay{
    float: left;
    margin-left: 10px;
}
#tekilan{
    width: 560px;
    min-height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    
    
}
#tekbaslik{
    height: 35px;
}
#tekresim{
    width: 205px;
    height: 265px;
    float: left;
        border-style: double;

    
}
#tekbilgi{
    width: 180px;
    height: 235px;
    border-style: double;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
}
#tekfiyat{
    width: 150px;
    text-align: left;
    height: 235px;
    float: left;
    border-style: double;
    font-family: Arial,Helvetica,sans-serif;

}
#tekpaylas{
    height: 30px;
    width: 350px;
    font-family: Arial,Helvetica,sans-serif;
}
#tekaciklama{
    width: 550px;
    border-style: double;
    min-height: 50px;
    border-style: double;
    float:left;
    font-family: Arial,Helvetica,sans-serif;

}
.ilanbilgiicerik{
    text-align: left;
    margin-left: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    
}
#yorumresim
{   
    text-align: left;
    height: 46px;
    float: left;
    width: 37px;
    font-family: Arial,Helvetica,sans-serif;
}
#yorumgenis
{
    width: 555px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
}
#yorumsahip
{
    width: 150px;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
}
#yorumtarih
{
   text-align: right;
   font-family: Arial,Helvetica,sans-serif;
}
#yorumnet
{
    
    position: static; 
    width: 450px;
    float: left;
}
#yorumbegen
{
    font-size: 12px;
  
}
#yorumform
{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
#profilsolblok{
    width: 210px;
    float: left;
    min-height: 320px;
    
    background-color: bisque;
}
#profilsagblok{
    width: 400px;
    float: left;
    min-height: 320px;
    background-color: aqua;
}   
#profilavatar{
    width: 160px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: yellow;
    
}
#profilavataralti{
    font-size: 12px;
    font-family: sans-serif;
    text-align: left;
    
}
#profildigerbilgiler{
    font-size: 12px;
}
